body { 
    background-color: #C6C5B9;    
    min-height: 100vh; 
    margin: 0px;
}

header{
    background-color: #7cae7a;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    background-color: #7cae7a;
    grid-row: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

header p, footer p{
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
}


#dashboard{
    display: grid;
    grid-template-rows: 5% 90% 5%;
}

#dashboard button{
    display: inline-block;
    background-color: #62929E;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    justify-content: space-around;
    padding: 15px 30px;
    min-width: 30%;
}
#dashboard #divDashboard{
    grid-row: 2;
    display: inline; 
    align-items: center;
}

#dashboard #divButtons{
    width: auto;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

#dashboard h1{
    text-align: center;
}


#teacher{
    display: grid;
    grid-template-rows: 5% 90% 5%;
}

#teacher #divTeacher{
    grid-row: 2;
    display: inline; 
    align-items: center;
}

#teacher #divButtons{
    margin-top: 5%;
    width: auto;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

#teacher button{
    display: inline-block;
    background-color: #62929E;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    justify-content: space-around;
    padding: 15px 30px;
    min-width: 20%;
}

#teacher #divDinamic{
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    text-align: center;
}

#teacher #divDinamic p{
    border: 1px solid black;
    background-color: white;
    text-transform: uppercase;
}